*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 70px;
    background-color: #F2F4F7; 
    font-family: "lucida grande", tahoma, verdana, arial, sans‑serif;
}



.right > h1 {
    color: #0866FF;
    text-transform: lowercase;
    font-size: 55px;
   
}

.right > p {
    font-size: 25px;
    line-height: 33px;
  
    
}

.left {
    width: 400px;
    line-height: 40px;
    height: 370px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.name > input {
    width: 100%;
    font-family: "lucida grande", tahoma, verdana, arial, sans‑serif;
    font-size: 16px;
    padding: 16px;
    border: 1px solid #DDDFE2;
    /* border: none; */
    margin: 5px 0px 12px 0px;
    border-radius: 10px;
}






.name input:focus {
    outline: none;
    border: 1px solid #0a66ff;           
    box-shadow: 0 0 0 2px rgba(10,102,255,0.12); 
}
.password input:focus {
    outline: none;
    border: 1px solid #0a66ff;           
    box-shadow: 0 0 0 2px rgba(10,102,255,0.12); 
}

.password > input {
    width: 100%;
    padding: 16px;
    font-family: "lucida grande", tahoma, verdana, arial, sans‑serif;
    font-size: 16px;
    border: 1px solid #DDDFE2;
    margin: 3px 0px 3px 0px;
    border-radius: 10px;
}

.login > button {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #0866FF;
    margin: 12px 0px 8px 0px;
    border-radius: 8px;
    cursor: pointer;
    /* margin-top: 5px; */
}

.forgotten  {
    text-align: center;
    font-size: 14px;
}

.forgotten > a{
    color: #0866FF;
    text-decoration: none;
}

.forgotten > a:hover{
    border-bottom: 1px solid #0866FF;   
}

.line {
    color:  #f1f3f6;
    margin: 10px 0px 25px 0px;
}

.create {
    text-align: center;
    margin: 10px;
    

}

.create > button {
    background-color:  #42B72A;
    padding: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: white;
    /* font-style: bold; */
    font-size: 18px;
    cursor: pointer;
}

@media (max-width:900px){
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        gap: 20px;
        background-color: #FFFFFF;
    }
    .left {
        height: 350px;
        width: 300px;
    }
    .right {
        display: none;
    }
}