body {
   background-color: #ffe6a7;
}


.heading {
    text-align: center;
}

.para-one {
    padding: 20px;
}

.para-one::first-letter{
    color: blue;
    font-size: xx-large;
    font-weight:lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para-one::first-line {
    font-style: italic;
    font-size: 20px;
}

.para-two {
    padding: 20px;
}

.para-two::first-letter{
    color: blue;
    font-size: xx-large;
    font-weight:lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para-two::first-line {
    font-style: italic;
    font-size: 20px;
}

.one {
    padding: 0px 0px 0px 20px;
}

.one:link {
    color: blue;
}

.one:visited {
    color: purple;
}
.one:hover {
    color: orange;
}

.one:focus {
    background-color: blue;
    
}

.two:link {
    color: blue;
}

.two:visited {
    color: purple;
}
.two:hover {
    color: orange;
}

.two:focus {
    background-color: blue;  
}