*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main {
    background-color: #1b263b;
    height: 100vh;
    padding-top: 30px;
    
   
}

.heading {
    color: #ade8f4;
}

.one {
    background-color: #48cae4;
    color: white;
    padding: 20px;
    margin: 0px 30px 30px 30px;
    border: 2px solid #023e8a;
    margin-bottom: 20px;
    border-radius: 10px;
    

}


.two {
    background-color: #dda15e;
    color: white;
    border: 2px solid #bc6c25;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;

}

.three {
    background-color: #606c38;
    color: white;
    border: 2px solid #606c38;
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;

    
}